/*  Génaral Styles  */


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

/*                      HEADER                  */


.section {
    padding: 20px 0;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}


.section-header .section-title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    padding-top: 100px;
}

.section-header .line {
    width: 150px;
    background: #ddd;
    height: 3px;
    margin: auto;
}

.section-header .line span {
    display: block;
    width: 100px;
    height: 4px;
    background-color: #aeae81;
    margin: auto;
    position: relative;
    bottom: 0.5px;

}

.section-header p {
    width: 50%;
    margin: 40px auto;
    color: #888;
    line-height: 1.5;
}



header {
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 99999;

}

header i.icon {
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 10;
    display: none;
}

#logo {
    width: 70px;
    margin-left: 103px;
}

header nav .nav-link {
    display: flex;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /* background-color: rgba(0, 0, 0, 0.212); */
    margin-top: 4%;
    justify-content: space-between;

}

#nav1 {
    color: #ffffff;
}



.nav-link {
    text-decoration: none;
    ;
}

/* .nav-link1{
    text-decoration: none;
    padding-bottom: 1px;
} */

.nav-link a:hover {
    justify-content: space-between;
    color: #a6a867;
    text-transform: uppercase;
    text-decoration: none;
    color: #a6a867;
    font-weight: bold;

}


.navbar-nav {
    color: white;

}


header nav .nav-list .list a {
    display: block;
    padding: 15px 0;
    margin: 9px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #fff;

}

header nav .nav-list .list a:hover {
    color: #7cb62f;
}

.sticky {
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
}





.section-header p {
    text-align: center;
    width: 85%;
}


/*     SECTION HOME     */

.home {
    height: 950px;
    background-image: url('../images/fondgeometric.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title {
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
}

.home .home-desc {
    color: #fff;
    font-size: 50px;
}

.home .button {
    background: #aeae81d3;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}


/*



CARD LANGUAGES


*/



.container1 {
    position: relative;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-left: 189px;
}

.card {
    position: relative;
    width: 300px;
    height: 210px;
    background: #fff;
    margin: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
    transition: .5s ease-in-out;
}

.fab {
    font-size: 4em;
}

.fa-angular {
    background-color: #ff753b;
    background-image: linear-gradient(45deg, #ff753b 0%, #FF2525 74%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

.fa-react {
    background-color: #409eff;
    background-image: linear-gradient(45deg, #4F29CD 0%, #409eff 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

.fa-vuejs {
    background-color: #74EBD5;
    background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
}

.content {
    position: absolute;
    right: 27px;
    width: calc(103% - 73px);
    height: 100%;
    padding: 45px;
}

h4 {
    font-size: .8em;
    margin-bottom: 5px;
}

.pcard {
    font-size: .6em;
}


#angular {
    color: #ff5165;
}

#react {
    color: #60dafa;
}

#vue {
    color: #43b885;
}

a:hover {
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }

    50% {
        background-position: 200%;
    }


}




/* 



                    ANIMATION NOM ET P 



*/


/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}



/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}



/* 


                            MEDIA QUERYS


*/



@media (max-width:575px) {
    .home .home-title {
        font-size: 22px;
    }

    .home .button {
        margin-bottom: 10px;
    }
}

/* A Propos de moi  */

.about .about-info h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 80px;
}

.about .about-info h3 span {
    color: #7cb62f;

}

.about .about-info .about-info-desc {
    line-height: 1.8;
    color: #888;
    margin-bottom: 20px;
}


.about .about-info .about-info-btn {
    background-color: #aeae81;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;

}

.about .about-img img {
    width: 60%;
    margin-top: 100px;
    margin-left: 107px;
}



/*           
                

                            Center of Interest          
                    
                    
                    
*/

.center-of-interest {

    background: #f7f7f7;
    /* height: 650px;
    background-image: url('../images/fg2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;  */

}

.center-of-interest .serv {
    background: rgba(146, 142, 142, 0.377);
    padding: 20px;
    text-align: center;
}

.center-of-interest .serv .icon {
    background: #aeae81;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
}

.center-of-interest .serv-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.center-of-interest .serv-desc {
    font-size: 17px;
    color: #888;
    margin-bottom: 20px;
}

.center-of-interest .serv {
    margin-bottom: 20px;
}


/*    


                Pour mettre de l'espace entre scetion et bottom   


*/
.test {
    margin-bottom: 400px;
}


.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay img {
    width: 40%;
    border: 20px solid white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
}

footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.76);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 30px 100px;
    padding-bottom: 10px;
}

.box h2 {

    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 1px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    /* background: #f12020; */

}

.left .content p {
    text-align: justify;
}


.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content-text {
    color: #aeae81;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a#aeae81;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #aeae81;
    color: black;

}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a#aeae81;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;

}

.center .content .fas:hover {
    background: #aeae81;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #aeae81;

}

.center .content .phone {
    margin: 10px 0;

}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #aeae81;

}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;

}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    background: #aeae81;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3;
}

.right form .btn button:hover {
    background: rgba(126, 125, 125, 0.452);

}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515
}

.bottom center span {
    color: #aeae81;

}

.bottom center a {
    color: #7cb62f;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;

}




/*****************************************************
    *                    MEDIA QUERY                   *
*****************************************************/




/* @media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
} */


/*****************************************************
*                        HEADER                      *
*****************************************************/

@media (max-width: 575px) {

    header {
        height: 12%;
    }

    /* .title{
        font-size: 15vw;
        background-image: url('../uploads/images/giphy.jpg')
    } */
    .home {
        font-size: 15vw;
        /* height: 950px; */
        background-image: url('../images/fondgeometric.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .home-content {
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .home .home-title {
        color: #fff;
        font-size: 87px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .subheading {
        font-size: 1.25rem;
    }


    .home .home-desc {
        color: #fff;
        font-size: 18px;
    }

    .home .button {
        background: #aeae81d3;
        color: #fff;
        width: 150px;
        text-align: center;
        padding: 10px 0;
    }


    .section {
        padding: 20px 0;
    }

    .overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .lead {
        font-size: 1.25rem;
    }


    .section-header .section-title {
        font-size: 40px;
        text-align: center;
        padding: 20px;
        padding-top: 100px;
    }

    .section-header .line {
        width: 150px;
        background: #ddd;
        height: 3px;
        margin: auto;
    }

    .section-header .line span {
        display: block;
        width: 100px;
        height: 4px;
        background-color: #aeae81;
        margin: auto;
        position: relative;
        bottom: 0.5px;

    }

    .section-header p {
        width: 50%;
        margin: 40px auto;
        color: #888;
        line-height: 1.5;
    }



    header {
        height: auto;
        padding: 10px 0;
        position: fixed;
        width: 77%;
        z-index: 99999;

    }

    header i.icon {
        position: absolute;
        right: 30px;
        top: 32px;
        z-index: 10;
        display: none;
    }

    #logo {
        width: 88px;
        margin-left: 140px;
    }

    .navbar-nav {
        color: white;
    }

    nav {
        justify-content: center;
        height: 9vh;
        width: 100%;
    }

    nav>a {
        height: 100%;
        padding: 0;
        margin: 10px;
    }

    .headnav {
        height: 122px;
    }

    header nav .nav-link {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        background-color: rgba(0, 0, 0, 0.486);
        margin-top: 4%;
        color: white;
    }

    header nav .nav-list .list a {
        display: block;
        padding: 15px 0;
        margin: 9px 0;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        color: #fff;

    }

    header nav .list a:hover {
        color: #7cb62f;
    }

    .sticky {
        background: rgba(0, 0, 0, 0.90);
        color: #fff;
    }

    .section-header p {
        width: 70%;
        padding-left: 0px;
        text-align: center;
    }

    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {

        margin: -13px -53px;
    }

    
}




/*****************************************************
*                        ABOUT-INFO                  *
*****************************************************/

@media (max-width: 575px) {

    /* Tres petit écran */
    .about .about-info h3 {
        font-size: 20px;
        padding-right: 40px;
    }
}

@media (min-width:576px) and (max-width:768px) {

    /* Petit écran */
    .about .about-info {
        text-align: center;
        padding-right: 20px;
    }
}

/*****************************************************
*                        ROW                         *
*****************************************************/

@media (max-width: 575px) {

    /* Tres petit écran */
    .row,
    .navbar {
        font-size: 20px;
    }
}

@media (min-width:576px) and (max-width:768px) {

    /* Petit écran */
    .row {
        text-align: center;
    }
}

/*****************************************************
*                       PORTFOLIO                    *
*****************************************************/

@media (max-width: 575px) {

    /* Tres petit écran */
    .portfolio-item,
    .navbar,
    .row {
        font-size: 16px;
        padding-right: 12px;
    }
}

@media (min-width:576px) and (max-width:768px) {

    /* Petit écran */
    .portfolio-item,
    .navbar,
    .row {
        text-align: center;
    }
}


/*****************************************************
*                    NAVABAR                         *
*****************************************************/


@media screen and (max-width:575px) {



    .navbar {
        color: white;
    }

    /* .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(174, 174, 129, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    } */
}

@media (max-width: 575px) {

    .navbar-light .navbar-toggler {
        margin-top: 10px;
        margin-right: 20px;
        border-color: #aeae81;
        text-align: center;
    }
}

@media (min-width:576px) and (max-width:768px) {

    .navbar-light .navbar-toggler {
        margin-top: 10px;
        margin-right: 20px;
        border-color: #aeae81;
        text-align: center;
    }
}